header{
  height:64px;
}
#main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64px; 
  box-shadow: none;
  padding: 16px; 
  margin-left: var(--drawer-width);
  flex-wrap: wrap; 
  user-select: none;
}

